{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container-fluid min-vh-100" style="background-image: url('{{ asset('cle.jpg') }}');
    background-attachment: fixed; background-size: cover; background-position: center center; opacity: 0.8">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="text-center mt-5 p-5" style="font-family: 'Montserrat';">Entrez vos identifiants</h1>

        <div class="col-4 mx-auto p-2">
            <label style="font-weight: bold" for="inputEmail">Entrez votre email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="email@email.fr" required autofocus>
            <label style="font-weight: bold" for="inputPassword">Entrez votre mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="*** 6 caractères minimum ***" required>
            <button class="btn btn-primary mt-4 btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> ENTRER</button>
        </div>



        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
    </form>
</div>
{% endblock %}
