{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<main class="container-fluid ml-0" style="font-family: 'Montserrat';">

		{% block main %}

			<section id="Apropos"class="row" style="background-image: url('{{ asset('maison.jpg') }}');background-attachment: fixed; background-size: cover; background-position: center center; height:100vh; width:100vw;">
		        <div class="col-12 text-center my-auto mx-auto">
		          <h1 style="color: white;">Agence Immobilière</h1>
		       </div>
		    </section>

		{% endblock %}

	</main>

{% endblock %}
