.custom-file-input
{
	opacity: 1!important;
}

.card-img-top
{
	overflow: hidden;
	object-fit: cover;

}

.card-text
{
	overflow: hidden;
}

.card-body
{
	min-height: initial;
}

.form-check{
  display: inline;
  margin: 0 10px;
}

#registration_form_titre{
  margin: 0 0 10px 0;

}
