{% extends 'base.html.twig' %}

{% block title %}Nouveau Bien{% endblock %}

{% block body %}

	<div class="container mt-3">

	    <h1>Créer un nouveau bien</h1>

		    {{ include('bien/_form.html.twig') }}

		    <a class="btn btn-md btn-info" style="border-radius: 10px" href="{{ path('bien_index') }}">Retour à la liste</a>

    </div>

{% endblock %}
