<!DOCTYPE html>

<html>

	<head>
	  <meta charset="UTF-8">
	  <title>
	  {% block title %}Welcome!{% endblock %}
	  </title>
	  {% block stylesheets %}
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<!-- Bootstrap core CSS -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
		<!-- Material Design Bootstrap -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
		<!-- Toastr -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <link href="{{asset('assets/style.css') }}" type="text/css" rel="stylesheet">

	  {% endblock %}
	</head>

  <body class="min-vh-100" style="font-family: 'Montserrat';">

    <header class="container-fluid p-0" style="font-family: 'Montserrat';">

      {% block header %}
  			<nav class="navbar navbar-expand-lg navbar-dark primary-color-dark">
      		<a class="navbar-brand " href="/home">Accueil</a>

      		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
  	      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      	  <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="basicExampleNav">
  	        <ul class="navbar-nav mr-auto">

            {# si je suis connecté je peux gérer mes annonces #}
            {% if is_granted('ROLE_USER') %}
              <li class="nav-item">
                <a class="nav-link" href="/bien">Gérer mes annonces</a>
              </li>
            {% else %}
              {# sinon je peux juste consulter les annonces #}
      	    	<li class="nav-item">
              	<a class="nav-link" href="/bien">Découvrir nos annonces</a>
      	    	</li>
            {% endif %}

      	    </ul>
        	</div>

    	    <div class="collapse navbar-collapse d-flex justify-content-end" id="basicExampleNav">
      	    <ul class="navbar-nav ml-auto" style="display: contents!important;">

            {# si je suis connecté en ADMIN #}
            {% if is_granted('ROLE_ADMIN') %}

              <li class="nav-item" style="color:white"> Bienvenue {{ app.user.username }}, vous êtes ADMINISRATEUR du site</li>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ADMINISTRATION
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/user">Gérer les utilisateurs</a>
                  <a class="dropdown-item" href="/bien">Gérer les biens</a>
                  <a class="dropdown-item" href="/logout">Se déconnecter</a>
                </div>
              </div>

            {# sinon si je suis connecté, présentation du nom #}
            {% elseif is_granted('ROLE_USER') %}
              <li style="color:white"> Bienvenue {{ app.user.username }}, vous êtes connecté comme UTILISATEUR</li>
              <li><a class="nav-link" style="color:white" href="/logout">Déconnexion</a></li>

            {# si je suis juste un visiteur #}
            {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="/login">Se connecter</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/register">Créer un compte</a>
              </li>

            {% endif %}

      	    </ul>
    	    </div>

  	    </nav>

    	{% endblock %}
    </header>

      {% block body %}
      {% endblock %}


      {% block javascripts %}
      	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      {% endblock %}

  </body>

</html>
