{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur: {{ user.username }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

     <button class="btn btn-md btn-info" style="border-radius: 10px"><a href="{{ path('user_index') }}">Retour à la liste</a></button>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
